/* Layout Module Styles */
.layout {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
}


.page {
  /* min-height: 100%; */
  background: #fff;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
}

.utils {
  width: 100%;
}